:root {
    --primary-color: #003f5c; /* Deep blue, like deep river water */
    --secondary-color: #2f4858; /* Dark teal, representing river stones and shaded water */
    --accent1-color: #c0c0c0; /* Light grey, for neutral backgrounds and text */
    --accent2-color: #dd5143; /* Red/orange, for call to action buttons and accents */
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--accent1-color); /* Light grey background */
    max-width: 1200px;
    margin: 0 auto;
  }
  
  header, main, footer {
    padding: 20px;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header img {
    max-height: 80px;
  }
  
  h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--primary-color);
    text-transform: uppercase;
  }
  
  p {
    line-height: 1.6;
  }
  
  .hero {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  footer {
      text-align: center;
      padding-top: 20px;
  }
  
  footer a img {
    text-decoration: none;
    width: 30px;
    margin: 0 10px;
  }
  